@media (width < 900px){
    aside{
        width: 95px;
    }
    label{
    border: solid 1px #949494;
    width: 75px;
    height: 75px;
    }
    .desc{
        display: none;
    }
    .cam{
        width: 40px;
    }
    .logo
    {
    width: 60px;
    }
    .title
    {
    font-size: 16px;
    }
    .downloadBtn
    {
        width: 75px;
        height: 75px;
        border: solid 1px #949494;
    }
    .popup
    {
        width: 325px;
        height: 230px;
    }
    .successSubtitle
    {
        font-size: 1.2rem;
    }
    .successDownload
    {
        font-size: 1.5rem
    }
    .closeImg
    {
    width: 25px;
    }
    .closeBtn
    {
    right: 0.1rem
    }
    .successShare
    {
    font-size: 1.5rem;
    margin-top: 20px;
    }
    .share img
    {
    width: 35px;
    }
    .preview
    {
        position: absolute;
        left: auto;
        right: auto;
        bottom: auto;
        top: auto;
        margin-left: 100px;
        background: red;
    }
}
