*
{
font-family: sans-serif;
top: 0;
left: 0;
right: 0;
bottom: 0;
}
aside
{
margin-top: 20px;
margin-bottom: 20px;
float: left;
background: #fff;
width: 315px;
position: fixed;
display: flex;
align-items: center;
flex-direction: column;
color: #949494;
font-weight: 600;
border-right: 1px solid #949494;
padding-top: 30px;
}
input[type="file"]
{
display: none;
}
label
{
margin-top: 50px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
width: 250px;
height: 150px;
border: 2px #949494 dashed;
border-radius: 12px;
}
label:hover
{
cursor: pointer;
}
.preview
{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.logo
{
width: 100px;
}
.downloadBtn
{
    background: none;
    display: flex;
    flex-direction: row;
    width: 197px;
    height: 57px;
    border-radius: 11px;
    align-items: center;
    border: 2px dashed #949494;
    justify-content: space-evenly;
    color: #949494;
    margin-top: 170px;
}
.downloadBtn h1
{
    font-size: 17px;
    font-weight: 600;
}
.downloadBtn:hover
{
cursor: pointer;
}
canvas
{
border:1px solid #888;
width:270px;
height:480px;
}
.cam
{
width: 60px;
}
